*{
    margin:0;
    font-family: Arial;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
}

.border:hover{
    border:2px solid white;
}

.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url('./Images/amazon_logo.png');
    background-size: cover;
    height: 50px;
    width: 100%;
}


.add-icon{
    display: flex;
    align-items: center;
}


.DeliverToText{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 14px;
}

.IndiaText{
    color: white;
    font-size: 1rem;
    margin-left: 3px;
}